<ul ng-if="size != 'xs'" class="topNav">
    <li>
        <md-button class="md-raised" ui-sref-active="active" ui-sref="main.home">Home</md-button>
    </li>
    <li ng-repeat="item in menudata.children | filter: homeFilter">
        <md-button class="md-raised" ui-sref-active="active" ui-sref="main.{{item.type}}({pageSlug: item.slug, id: item})" data-id="{{item._id}}">{{item.name}}</md-button>
    </li>
</ul>
<md-menu ng-if="size == 'xs'">
    <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </md-button>
    <md-menu-content width="4">
        <md-menu-item>
            <md-button class="md-raised" ui-sref-active="active" ui-sref="main.home">Home</md-button>
        </md-menu-item>
        <md-menu-item ng-repeat="item in menudata.children | filter: homeFilter">
            <md-button class="md-raised" ui-sref-active="active" ui-sref="main.{{item.type}}({pageSlug: item.slug, id: item})" data-id="{{item._id}}">{{item.name}}</md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>
<!-- 
    <md-button ui-sref="main.intro" class="">About Me</md-button>
    <md-button ui-sref="main.rates" class="">Rates</md-button>
 -->
