<md-fab-toolbar ng-if="fabNav" md-open="navOpen" md-direction="right">
    <md-fab-trigger class="align-with-text">
        <md-button aria-label="menu" class="md-fab md-primary">
            <!-- <md-icon md-svg-src="img/icons/menu.svg"></md-icon> -->
        </md-button>
    </md-fab-trigger>
    <md-toolbar>
        <md-fab-actions class="md-toolbar-tools">
            <md-button ui-sref-active="md-accent md-hue-1" ui-sref="main.home" class="md-primary">Home</md-button>
            <md-button ng-repeat="item in menudata.children | filter: homeFilter" ui-sref-active="md-accent md-hue-1" ui-sref="main.{{item.type}}({pageSlug: item.slug, _id: item._id})" data-id="{{item._id}}" class="md-button">{{item.name}}</md-button>
        </md-fab-actions>
    </md-toolbar>
</md-fab-toolbar>
<ul ng-if="!fabNav" class="topNav">
    <li>
        <md-button ui-sref-active="active" ui-sref="main.home">Home</md-button>
    </li>
    <li ng-repeat="item in menudata.children | filter: homeFilter">
        <md-button ui-sref-active="active" ui-sref="main.{{item.type}}({pageSlug: item.slug, _id: item._id})" data-id="{{item._id}}" class="md-button">{{item.name}}</md-button>
    </li>
</ul>
<!-- 
    <md-button ui-sref="main.intro" class="">About Me</md-button>
    <md-button ui-sref="main.rates" class="">Rates</md-button>
 -->
